doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./main.min.css")
    title Турнир прогнозистов к ЕВРО 2021
  body
    .wrapper-page
      include partials/popup
      include partials/header 
      include partials/main
      include partials/footer
    script(src="./main.min.js")
