@font-face {
  font-family: "fontawesome-webfont";
  src: url("../../fonts/fontawesome-webfont.woff") format("woff"),
  url("../../fonts/fontawesome-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "PFDinTextPro-700";
  src: url("../../fonts/PFDinTextPro-700.woff") format("woff"),
  url("../../fonts/PFDinTextPro-700.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PFDinTextPro-500";
  src: url("../../fonts/PFDinTextPro-500.woff") format("woff"),
  url("../../fonts/PFDinTextPro-500.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "roboto-700";
  src: url("../fonts/Roboto-700.woff") format("woff"),
  url("../fonts/Roboto-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto-500";
  src: url("../fonts/Roboto-500.woff") format("woff"),
  url("../fonts/Roboto-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto-400";
  src: url("../fonts/Roboto-400.woff") format("woff"),
  url("../fonts/Roboto-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}