.icon {
  margin-right: 10px;
  border: 1px solid $border-color-icon;
  border-radius: $border-radius-icon;
  background-color: transparent;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  @include transition(('background-color', 'border-color', 'color'));

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-color: $color-white;
    background-color: $color-white;
    color: $color-black;
  }

  span {
    text-transform: capitalize;
  }

  &__app {
    padding: $padding-app;

    @media all and (max-width: $media-small) {
      padding: 10px 5px;
    }
  }

  &__social {
    padding: $padding-social;
  }
}