-
  const appsIcons = [
    {
      type: 'app',
      sign: 'apple',
      href: '#',
      span: true,
      spanContent: 'app store'
    },
    {
      type: 'app',
      sign: 'android',
      href: '#',
      span: true,
      spanContent: 'android'
    }
  ]
-
  const socialIcons = [
    {
      type: 'social',
      sign: 'youtube-play',
      href: 'https://www.youtube.com/',
      span: false
    },
    {
      type: 'social',
      sign: 'vk',
      href: 'https://vk.com/',
      span: false
    },
    {
      type: 'social',
      sign: 'instagram',
      href: 'https://www.instagram.com',
      span: false
    },
    {
      type: 'social',
      sign: 'telegram',
      href: 'https://telegram.org',
      span: false
    },
  ]