- 
  const refList = [
    {
      href: '#',
      accentContent: '1. ',
      mainContent: 'Пополни игровой счет'
    },
    {
      href: '#',
      accentContent: '2. ',
      mainContent: 'Сделай ставки на ЕВРО-2021'
    },
    {
      href: '#',
      accentContent: '3. ',
      mainContent: 'Оставь верный прогноз'
    }
  ]
- 
  const instructionList = [
    {
      accentContent: 'Зарегистрироваться',
      mainContent: 'на любом из онлайн-ресурсов Maxline, верифицировать свой аккаунт или уже быть клиентом Maxline.'
    },
    {
      accentContent: 'Пополнить',
      mainContent: 'свой игровой счет на сумму от 20 BYN с 00:00 01.06.2021 по 20:00 11.06.2021 одним платежом.*'
    },
    {
      accentContent: 'Сделать 3 ставки',
      mainContent: 'на любые из матчей ЕВРО-2021 на сумму от 5 BYN (сумма каждой ставки) до 20:00 11.06.2021**'
    },
    {
      accentContent: 'Заполнить форму',
      mainContent: 'прогноза до 20:00 11.06.2021, указав при этом номер игрового счета.'
    },
    {
      accentContent: 'Оставь свой прогноз здесь.'
    }
  ]
-
  const descriptionList = [
    {
      styled: false,
      content: 'Принимать участие в турнире могут все зарегистрированные на Maxline пользователи.'
    },
    {
      styled: false,
      content: 'В предложении участвуют ставки, сделанные на любом из онлайн-ресурсов Maxline.'
    },
    {
      styled: false,
      content: '*Пополнить игровой счет Maxline можно любым из доступных способов.'
    },
    {
      styled: false,
      content: '**Если по каким-либо причинам будет приостановлен чемпионат, то итоги турнира будут подведены после его возобновления.'
    },
    {
      styled: false,
      content: 'Один участник может оставить один прогноз. Если от одного участника будет оставлено несколько прогнозов, то во внимание будет приниматься прогноз, который был зафиксирован первым.'
    },
    {
      styled: false,
      content: 'Участник, верно предсказавший победителя ЕВРО-2021 и лучшего бомбардира турнира, получит бонус 1500 BYN.'
    },
    {
      styled: false,
      content: 'Если окажется несколько участников, верно предсказавших победителя ЕВРО-2021 и лучшего бомбардира турнира, то данный бонус будет разделен пропорционально между ними.'
    },
    {
      styled: false,
      content: 'Если лучших бомбардиров турнира будет несколько, то победителю необходимо угадать хотя бы одного.'
    },
    {
      styled: false,
      content: 'Объявление результатов будет опубликовано на сайте maxline.by и в социальных сетях Maxline.'
    },
    {
      styled: true,
      content: 'Пополнение, сделанное для участия в данном бонусе, не может принимать участия в других предложениях.'
    },
    {
      styled: true,
      content: 'Полученный бонус необходимо отыграть с коэффициентом не ниже 1,6 (сделать одну или несколько ставок). Ставки типа Система , VIP-ставки, на TV-игры, Live-лотереи, финансовые ставки и Cash Out в отыгрыше не учитываются.'
    },
    {
      styled: true,
      content: 'Зачисление бонуса происходит в течение 3 часов после объявления результатов турнира.'
    },
    {
      styled: true,
      content: 'Данное предложение доступно один раз для одного человека, семьи, домашнего адреса, адреса электронной почты, номера телефона, общего устройства, одного IP-адреса.'
    },
    {
      styled: true,
      content: 'Может производиться проверка регистрационных данных и транзакций по любым причинам. Если вследствие проверки будет выявлено, что участник/-и использует/-ют запрещенные стратегии или мошенничество, в том числе мультиаккаунтинг, компания может не производить зачисление бонуса.'
    },
    {
      styled: true,
      content: 'Букмекер оставляет за собой право приостановить действие бонуса.'
    }
  ]