include ../global/footerVars 
include ../global/mixins 

footer.footer
  ul.footer__content.d-flex
    li.footer__apps.d-flex
      +footerIcon(appsIcons)
    li.footer__info 
      p ООО Финансово-инвестиционная компания «ИНХО» 
        span Специальное разрешение (лицензия) №33120/586 на право осущ. деятельности в сфере игорного бизнеса. УНП 191318808. © 2021 Букмекерская компания Maxline. Все права защищены.
    li.footer__social.d-flex
      +footerIcon(socialIcons)
